name: CI / Infra

on:
  pull_request:
    branches:
      - "main"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

defaults:
  run:
    working-directory: ./infra

jobs:
  check-impact-functions:
    name: Check impact for functions
    permissions:
      contents: read
    runs-on: ubuntu-latest
    outputs:
      has-changed-related-files: ${{ steps.check-related-files.outputs.any_changed == 'true' }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 0
      - name: Check related files
        id: check-related-files
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47
        with:
          files: "infra/functions/**"
  build-functions:
    name: Build functions
    permissions:
      contents: read
    needs: check-impact-functions
    if: needs.check-impact-functions.outputs.has-changed-related-files == 'true'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./infra/functions
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Set up Python
        uses: ./.github/actions/setup-python
        with:
          working-directory: ./infra/functions
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --ignore-installed -r requirements.txt
        working-directory: ./infra/functions
